/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--project-font-family);
  font-size: var(--regular-font-size);
  background-image: var(--background-image);
  background-color: var(--page-bg-color);
  font-weight: bold;
  line-height: 1.3;
  background-attachment: fixed;
  background-size: cover;
}

.header__theme-menu {
  justify-self: end;
  margin: auto var(--decoration-gap)
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  color: var(--button-color);
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}   

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  font: inherit;
  position: relative;
  align-items: center;
  padding: var(--decoration-gap) 0;
}

.header_text {
  background-color: var(--header-text-bg-color);
  color: var(--header-text-color);
  margin: var(--decoration-gap);
  font-weight: bold;
  font: inherit;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--border-color-opacity);
}

.header__theme-menu-button:focus {
  outline: none;
}

.main {
  margin-left: var(--decoration-gap);
  margin-right: var(--decoration-gap);
}

.decorated-zone::before {
  border-top: var(--corner-thickness) solid var(--deco-color);
  border-right: var(--corner-thickness) solid var(--deco-color);
  top: var(--decoration-gap);
  right: var(--decoration-gap);
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: var(--corner-thickness) solid var(--deco-color);
  border-left: var(--corner-thickness) solid var(--deco-color);
  left: var(--decoration-gap);
  bottom: var(--decoration-gap);
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
}

.section_topic1 {
  margin-top: var(--section-child-margin);
}

.section_topic2 {
  margin-top: 50px;
}

.section_topic3 {
  margin-top: 50px;
}

.advice_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section_gallery {
  margin-top: 50px;
}


/* Мобильный экран */


/* Экран меньше */
@media (width >= 768px) {
  .main_title {
    font-size: clamp(7.5rem, 0.563rem + 14.453vw, 15rem);
  }
  /* .rec_empty {
    --rec_empty_x_pos: 35px;
  } */
  .header {
    margin-block-end: 40px;
    --min-height: 1024px;
  }
  .header_text {
    width:  calc(50% - 20px);
    justify-self: right;
  }
  .gallery {
    margin-top: 20px;
    gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery__item {
    margin: 0;
  }
  .footer {
    --min-height:1024px;
  }
  .sunset_pic {
    grid-column: 1 / 3;
  }
  .ice-cream_pic {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  .tape_pic {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .books_pic {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .street_pic {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .question_topic2 {
    margin-top: 30px;
    width: 30%;
  }
  .question_topic3 {
    margin-top: 20px;
  }
  .section_topic1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'question_why answers_why';
    gap: 20px;
  }
  .section_topic2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .section_topic3 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    'question_how answers_how';
    gap: 20px;
    margin-top: 61px;
  }
  .section_gallery {
    margin-top: 78px;
  }
  .picture_question {
    grid-column: 1 / 4;
    margin-bottom: 0;
  }
  .footer_title {
    justify-content: center;
    margin-top: 62px;
  }
}

/* Стандартный экран пк */
@media (width >= 1024px) {
  /* .rec_empty {
  --rec_empty_x_pos: 40px;
  } */
  .section_topic2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
      "question_what ."
      "answers_what answers_what";
    gap: 10px;
  }
  .header {
    --min-height: 768px;
    margin-block-end: 0;
  }

  .main_title {
    margin-left: 0;
    font-size: 157px;
    line-height: 83%;
  }

  .footer {
    --min-height: 768px;
    margin-top: 50px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .section_topic1 {
    margin-top: 40px;
    gap: 10px;
  }

  .question_topic1 {
    margin-top: 20px;
  }

  .header_text {
    margin-top: 20px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: start;
    height: 100%
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .question_topic2 {
    display: grid;
    grid-area: question_topic2;
    width: 30%;
  }

  .answers_topic2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: answers_topic2;
    margin-top: 77px;
    gap: 20px;
  }

  .section_topic3 {
    gap: 10px;
  }
}